.content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.blog-footer
.blog-heading {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.blog-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: bold;
}