<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Console</title>
</head>

<body>
    <h1>Welcome to your homepage, fellow admin!</h1>
    <p>Logged user: <span th:text="${#authentication.name}">Bob</span></p>
    <p>Roles: <span th:text="${#principal.authorities}">[ROLE_USER, ROLE_ADMIN]</span></p>
</body>

</html>